{% extends 'core/layout/base.html' %}
{% load static %}

  {% block title %}Клієнти{% endblock %}
    {% block additional_links %}
      <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    {% endblock %}





{% block content %}

        <div class="container-fluid">

          <h1 class="h3 mb-2 text-gray-800">Клієнти</h1>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ПІБ</th>
                      <th>Активність</th>
                      <th>Кластер активності</th>
                      <th>Частота покупок</th>
                      <th>Кластер частоти</th>
                      <th>Прибуток</th>
                      <th>Кластер прибутку</th>
                      <th>Життєва цінність</th>
                      <th>Наступний день покупки</th>
                      <th>Сегмент</th>
                    </tr>

                  </thead>
                  <tbody>
                        {% for i in customers %}
                      {% if i.overall_score %}
                      <tr>
                      <td><a href="{% url 'core:customer_detail' customer_id=i.pk %}">{{ i.first_name }} {{ i.last_name }}</a></td>
                      <td>{{ i.recency }}</td>
                      <td>{{ i.recency_cluster }}</td>
                      <td>{{ i.frequency }}</td>
                      <td>{{ i.frequency_cluster }}</td>
                      <td>{{ i.revenue }}</td>
                      <td>{{ i.revenue_cluster }}</td>
                      <td>{{ i.ltv_cluster_prediction }}</td>
                      <td>{{ i.next_purchase_day_range }}</td>
                      <td>{{ i.segment }}</td>
                      </tr>
                            {% endif %}
                        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
            <form action="{% url 'core:update_elements' %}" method="get">
                <div class="row justify-content-end">
                <button type="submit" class="btn btn-primary" style="margin-right: 0.68em; margin-top: -0.7em;">Оновити значення елементів</button>
                    </div>
            </form>
        </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
{% endblock %}


{% block additional_scripts %}
    <script>
        $(function () {
  $('[data-toggle="tooltip"]').tooltip()})
    </script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}




