{% extends "core/layout/base.html" %}
{% load widget_tweaks %}

{% block title %}Змінити пароль{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Зміна паролю</h1>
<div class="text-center mt-4">
    <form method="post">
        <table class="mx-auto">
        <div class="d-flex form-row justify-content-center mb-3">
            <label for="old_password" class="mr-2 mt-2">Старий пароль</label>
            {% render_field form.old_password class="form-control col-xl-2 col-lg-3 col-sm-4 col-7" id="old_password"%}
        </div>
        <div class="d-flex form-row justify-content-center mb-3">
            <label for="new_password1" class="mr-2 mt-2">Новий пароль</label>
            {% render_field form.new_password1 class="form-control col-xl-2 col-lg-3 col-sm-4 col-7" id="new_password1"%}
        </div>
        <div class="d-flex form-row justify-content-center mb-3">
            <label for="new_password2" class="mr-2 mt-2">Повторіть пароль</label>
            {% render_field form.new_password2 class="form-control col-xl-2 col-lg-3 col-sm-4 col-6" id="new_password2"%}
        </div>
        <button type="submit" class="btn btn-primary mt-4">Зберегти</button>
        {% csrf_token %}
            </table>
    </form>
</div>
    </div>
{% endblock %}