{%extends "core/layout/base.html"%}
{% load widget_tweaks %}
{%block title%}Відновлення паролю{%endblock%}

{%block content%}
<div class="container">
    <div class="container text-center">
    <h3 class="text-center mb-4">Відновлення паролю</h3>
    <form method="post">
        {%csrf_token%}
        <div class="form-row justify-content-center mb-3">
        {% render_field form.new_password1 class="form-control mr-4 col-xl-2 col-lg-2 col-sm-3 col-6" placeholder="Новый пароль" %}
        </div>
        <small class="form-text text-muted">Пароль повинен містити не менше 8 символів</small>
        <small class="form-text text-muted mb-2">Пароль не може складатися тільки з цифр</small>
        <div class="form-row justify-content-center mb-3">
        {% render_field form.new_password2 class="form-control mr-4 col-xl-2 col-lg-2 col-sm-3 col-6" placeholder="Повторите пароль" %}
        </div>
        <button class="btn btn-primary mr-4" type="submit">Змінити пароль</button>
    </form>
    </div>
</div>
{%endblock%}